
*{
    box-sizing: border-box;
}
header{
    background: #fff;
    padding: 10px;
}

header h1{
    margin:0;
}
body{
    margin: 0;
    background: #000;
}

.posts {
    background: #fff;
}
.content{
    width: 45%;
    margin: auto;
    position: relative;
    top: 60px;
}

.posts img{
    width: 100%;
}

.html{
    display: flex;
    flex-direction: column;
}

.htmlname{
    margin-bottom: 0px;
}
.rigo{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.Dots-title{
 width: 100%;
 text-align: right;
 margin: 15px;
}
.posts-title{
    display: flex;
    flex-direction: row;
}
.posts-title p{
    display: inline-block;
}

.title-icon-left{
    margin: 12px;
}

.bottom-icons{
    padding-left: 10px;
    padding-top: 10px;
}

.first-icon,
.second-icon,
.third-icon
{
    padding-right: 5px;
}

.fourth-icon{
   float: right;
   padding-right: 15px;
}

.last-p{
padding-left: 10px;
padding-bottom: 15px;
}